<h2>Ustaxona mijozlarini qo'shish</h2>

<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Mijoz Personal ma'lumotlari saqlash
            </mat-panel-title>
            <mat-panel-description>
                F.I.SH, tel raqami, avtomabil turi, avtomabil raqami, kuzov rangi ma'lumotlari kiritiladi
                <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <form [formGroup]="carForm" (ngSubmit)="onSubmit()" class="row g-3 d-flex">
            <div class="col-md-2">
                <mat-form-field appearance="outline" class="input-group">
                    <mat-label>F.I.O</mat-label>
                    <input matInput placeholder="Familiya ismi sharifi" formControlName="fio">
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline" class="input-group">
                    <mat-label>Tel raqami</mat-label>
                    <input matInput placeholder="Misol uchun 998905940402" formControlName="phone">
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline" class="input-group">
                    <mat-label>Avtomabil turi</mat-label>
                    <mat-select formControlName="carType">
                        <mat-option>-- Tanlang --</mat-option>
                        <mat-optgroup *ngFor="let group of carTypeGroups" [label]="group.name">
                            <mat-option *ngFor="let car of group.pokemon" [value]="car.value">{{car.viewValue}}</mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline" class="input-group">
                    <mat-label>Avtomabil raqami</mat-label>
                    <input matInput placeholder="Misol: 01A555AA" formControlName="carNumber">
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline" class="input-group">
                    <mat-label>Kuzov rangi</mat-label>
                    <mat-select formControlName="carColor">
                        <mat-option value="white">Oq</mat-option>
                        <mat-option value="black">Qora</mat-option>
                        <mat-option value="metallic">Metalik</mat-option>
                        <mat-option value="blue">Ko'k</mat-option>
                        <mat-option value="red">Qizil</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-auto my-auto">
                <button mat-fab extended color="primary">
                    <mat-icon>save</mat-icon>
                    Saqlash
                </button>
            </div>
        </form>
    </mat-expansion-panel>

    <div class="row mt-2">
        <div class="col">
            <mat-card>
                <mat-card-content>
                    <div class="row">
                        <div class="col">
                            <mat-list>
                                <mat-form-field appearance="outline" class="input-group">
                                    <mat-label>Izlash</mat-label>
                                    <input
                                            id="searchInputClients"
                                            matInput #searchInputData
                                            (keyup)="applyFilter($event)"
                                    >
                                </mat-form-field>
                                <ol class="list-group list-group-item-action my-1" *ngFor="let item of data" (click)="onItemClick(item.id, item.fullName)" style="cursor:pointer;">
                                    <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-start" [class.active]="lastSelectedUserId === item.id">
                                <span class="badge text-bg-light rounded-5">
                                    <mat-icon>person</mat-icon>
                                </span>
                                        <div class="ms-2 me-auto">
                                            <div>{{item.fullName}}</div>
                                            {{item.phone}}
                                        </div>
                                    </li>
                                </ol>

                                <mat-paginator
                                        hidePageSize=true
                                        [length]="recordsTotal"
                                        [pageSize]="7"
                                        (page)="onPageChange($event, searchInputData.value)">
                                </mat-paginator>
                            </mat-list>
                        </div>
                        <div class="col-10 border-start">
                            <mat-card style="box-shadow: none!important; min-height: 50vh!important;" class="bg-card-v2">
                                <mat-card-header>
                                    <mat-card-title>{{client_fullName !== '' ? client_fullName : 'танланмаган'}}</mat-card-title>
                                </mat-card-header>
                                <mat-tab-group>
                                    <mat-tab label="{{item.carNumber}}" color="text-success" *ngFor="let item of responseData">
                                        <mat-card-content class="h-100">
                                            <div class="row h-100 col-md-12 border-primary">
                                                <div class="row col-md-6">
                                                    <div class="col-md-6 col-sm-12 py-2" >
                                                        <mat-card class="example-card">
                                                            <mat-card-header>
                                                                <mat-card-title-group>
                                                                    <mat-card-title class="text-primary">Almashtirildi</mat-card-title>
                                                                    <mat-card-subtitle class="text-primary rounded" *ngFor="let itemCarParam of item.carParams">
                                                                        <span *ngIf="itemCarParam.isActually">
                                                                            {{itemCarParam.mileage}} (km)
                                                                        </span>
                                                                    </mat-card-subtitle>
                                                                    <img mat-card-sm-image src="assets/icons/card-icon/icon-start-oil.png" />
                                                                </mat-card-title-group>
                                                            </mat-card-header>
                                                            <mat-card-content>
                                                            </mat-card-content>
                                                        </mat-card>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 py-2" >
                                                        <mat-card class="example-card ">
                                                            <mat-card-header>
                                                                <mat-card-title-group>
                                                                    <mat-card-title class="text-primary">Yangilash</mat-card-title>
                                                                    <mat-card-subtitle class="text-primary rounded" *ngFor="let itemCarParam of item.carParams">
                                                                        <span *ngIf="itemCarParam.isActually">
                                                                            {{itemCarParam.toMileage}} (km)
                                                                        </span>
                                                                    </mat-card-subtitle>
                                                                    <img mat-card-sm-image src="assets/icons/card-icon/icon-change-oil.png" />
                                                                </mat-card-title-group>
                                                            </mat-card-header>
                                                            <mat-card-content>
                                                            </mat-card-content>
                                                        </mat-card>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 py-2" >
                                                        <mat-card class="example-card ">
                                                            <mat-card-header>
                                                                <mat-card-title-group>
                                                                    <mat-card-title class="text-primary">Turi</mat-card-title>
                                                                    <mat-card-subtitle class="text-primary rounded" *ngFor="let itemCarParam of item.carParams">
                                                                        <span *ngIf="itemCarParam.isActually">
                                                                            {{itemCarParam.oilModel}}
                                                                        </span>
                                                                    </mat-card-subtitle>
                                                                    <img mat-card-sm-image src="assets/icons/card-icon/icon-gas-type.png" >
                                                                </mat-card-title-group>
                                                            </mat-card-header>
                                                            <mat-card-content>
                                                            </mat-card-content>
                                                        </mat-card>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 py-2" >
                                                        <mat-card class="example-card ">
                                                            <mat-card-header>
                                                                <mat-card-title-group>
                                                                    <mat-card-title class="text-primary">Ishlatildi</mat-card-title>
                                                                    <mat-card-subtitle class="text-primary rounded" *ngFor="let itemCarParam of item.carParams">
                                                                        <span *ngIf="itemCarParam.isActually">
                                                                            {{itemCarParam.fillingVolume}} (litr)
                                                                        </span>
                                                                    </mat-card-subtitle>
                                                                    <img mat-card-sm-image src="assets/icons/card-icon/icon-gas-tank.png" >
                                                                </mat-card-title-group>
                                                            </mat-card-header>
                                                            <mat-card-content>
                                                            </mat-card-content>
                                                        </mat-card>
                                                    </div>

                                                    <div class="col-md-12 col-sm-12 py-2" >
                                                        <mat-card class="example-card ">
                                                            <mat-card-header>
                                                                <mat-card-title-group>
                                                                    <mat-card-title class="text-primary">O'rnatilgan filtrlar</mat-card-title>
                                                                    <mat-card-subtitle class="text-primary rounded" *ngFor="let itemCarParam of item.carParams">
                                                                        <div *ngIf="itemCarParam.isActually" class="row w-100 justify-content-start">
                                                                                <div *ngIf="itemCarParam.oilFilter">
                                                                                    <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection">
                                                                                        <mat-chip-option selected color="primary">Moy filtri</mat-chip-option>
                                                                                    </mat-chip-listbox>
                                                                                </div>
                                                                                <div *ngIf="itemCarParam.fuelFilter">
                                                                                    <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection">
                                                                                        <mat-chip-option selected color="primary">Yoqilg'i filtri</mat-chip-option>
                                                                                    </mat-chip-listbox>
                                                                                </div>
                                                                                <div *ngIf="itemCarParam.airFilter">
                                                                                    <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection">
                                                                                        <mat-chip-option selected color="primary">Xavo filtri</mat-chip-option>
                                                                                    </mat-chip-listbox>
                                                                                </div>
                                                                                <div *ngIf="itemCarParam.salonFilter">
                                                                                    <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection">
                                                                                        <mat-chip-option selected color="primary">Salon filtri</mat-chip-option>
                                                                                    </mat-chip-listbox>
                                                                                </div>
                                                                                <div *ngIf="itemCarParam.pampersFilter">
                                                                                    <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection">
                                                                                        <mat-chip-option selected color="primary">Pampers</mat-chip-option>
                                                                                    </mat-chip-listbox>
                                                                                </div>
                                                                            </div>
                                                                    </mat-card-subtitle>
                                                                </mat-card-title-group>
                                                            </mat-card-header>
                                                            <mat-card-content>
                                                            </mat-card-content>
                                                        </mat-card>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="col-md-12">
                                                        <mat-card class="example-card mt-2" style="border: 1px dotted #3f50b5">
                                                            <mat-card-content>
                                                                <div class="w-100 text-center">
                                                                    <img mat-card-image style="width: 61%;" src="assets/icons/car-models/001.png">
                                                                </div>
                                                            </mat-card-content>
                                                        </mat-card>
                                                    </div>
                                                </div>
                                            </div>
                                        </mat-card-content>
                                        <mat-card-footer>
                                        </mat-card-footer>
                                    </mat-tab>
                                </mat-tab-group>
                            </mat-card>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</mat-accordion>



