.example-panel-red.mat-mdc-select-panel {
    background: rgba(255, 0, 0, 0.5);
}

.example-panel-green.mat-mdc-select-panel {
    background: rgba(0, 255, 0, 0.5);
}

.example-panel-blue.mat-mdc-select-panel {
    background: rgba(0, 0, 255, 0.5);
}

tr:hover {
    background-color: lightyellow;
    cursor: pointer;
}

.disabled-chip {
    opacity: 1; /* You can adjust the opacity to make it look muted */
    pointer-events: none; /* Disable pointer events to prevent interaction */
}

.d-flex {
    display: flex;
    justify-content: space-around;
}

.list-title {
    color: blue;
}

.mat-list-element:hover {
    background-color: rgba(22, 78, 164, 0.33);
}

.list-element-in:hover {
    color: #ffffff!important;
}

.bg-card-v2 {
    background-image: url("../../../assets/icons/card-icon/wait.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
