h1 {
    color: #495057;
}

.w-100 {
    width: 100%;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
}


.card {
    width: calc(25% - 20px); /* Вычисляем ширину для 4 карточек на строку с отступами */
    margin: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.car-effect-hover:hover {
    -webkit-box-shadow: 4px 4px 8px 17px rgba(159, 200, 231, 0.75);
    -moz-box-shadow: 4px 4px 8px 17px rgba(159, 200, 231, 0.75);
    box-shadow: 4px 4px 8px 17px rgba(159, 200, 231, 0.75);
    cursor: pointer;
}

.example-header-image {
    background-image: url('../../../assets/icons/car-brand/chevrolet.png');
    background-size: cover;
}

.mat-card-image {
    padding: 60px;
    border-radius: 10px;
}

.primary {
    color: blue;
}

.bg-royalblue {
    background-color: royalblue;
    color: white;
}

.png-bg {
    border-radius: 10px;
    margin: 15px;
    background-color: #f2f2f3;
}

.mat-card-image {
    /* Set the desired width and height */
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Allow the height to adjust proportionally */
}
.custom-chip {
    display: inline-flex;
    color: black;
    border-radius: 4px; /* Adjust border radius as needed */
    vertical-align: middle;
}

.search-container {
    flex-grow: 1;
    margin: 0 10px;
}
.search-container input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card-header-image_v1 {
    background-image: url('../../../assets/icons/card-icon/img_v1.png');
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-header-image_v2 {
    background-image: url('../../../assets/icons/card-icon/img_v2.jpg');
    opacity: 1;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.card-header-image_v3 {
    background-image: url('../../../assets/icons/card-icon/img_v3.jpg');
    opacity: 1;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.card-header-image_v4 {
    background-image: url('../../../assets/icons/card-icon/img_v3.jpg');
    opacity: 1;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}


.icon-styles {
    width: auto;
    height: 80px;
}

.bg-img-content {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity .2s ease-out;
}

.form-field-w-50 {
    width: 30%;
}

/**********************/
body {
    background-color: black;
}

.container {
    width: 100% !important;
    padding: 0 !important;
    margin-right: auto;
    margin-left: auto;

@media screen and (min-width: 992px) and (max-width: 1439px) {
    max-width: 1279px !important;
    padding: 0 !important;
    margin: 0 80px !important;
    width: auto !important;
}

@media screen and (max-width: 991px) {
    max-width: 959px !important;
    margin: 0 16px !important;
    padding: 0 !important;
    width: auto !important;
}
}

.gradient-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 30px;
@media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
}
}

.container-title {
    text-align: center;
    padding: 0 !important;
    margin-bottom: 40px;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    line-height: 60px;
}

.card-option {
    border: 0;
    width: 100%;
}

.container-card {
    position: relative;
    border: 2px solid transparent;
    background: linear-gradient(71deg, #2b2b2c, #263239, #2b2b2c);
    background-clip: padding-box;
    border-radius: 45px;
    padding: 25px;
img {
    margin-bottom: 10px;
}
}

.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
    position: relative;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    z-index: -1;
    border-radius: 45px;
}

.bg-green-box::after {
    background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-white-box::after {
    background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-yellow-box::after {
    background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
    background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.card-title {
    font-weight: 600;
    color: white;
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: normal;
    font-size: 20px;
}

.card-description {
    font-weight: 600;
    line-height: 32px;
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 16px;
    max-width: 470px;
}

.justify-content-center {
    display: flex;
    align-items: normal;
    justify-content: space-between;
    width: 100%;
}

/********* car-number ****/
.numberImg {
    position: relative;
    /* border-bottom: 1px solid #ccc; */
    /* padding-bottom: 20px; */
    border: 4px solid #353535;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.numberImg::before{
    left: 3px;
    position: absolute;
    top: 45%;
    width: 5px;
    height: 5px;
    display: block;
    content: "";
    background: #353535;
    border-radius: 50%;
}

.numberImg::after{
    right: 3px;
    position: absolute;
    top: 45%;
    width: 5px;
    height: 5px;
    display: block;
    content: "";
    background: #353535;
    border-radius: 50%;
}

.numberImgRegion {
    width: 25%;
    text-align: center;
    border-right: 2px solid #353535;

    height: 100%;
    margin-bottom: 0px;
    font-size: 28px;
    font-family: roadNumbers;
    font-weight: bold;
    color: #2E2E2E;
    line-height: 1.2;
}

.numberImgNum {
    width: 70%;
    text-align: left;
    letter-spacing: 2px;
    padding-left: 10px;
    padding-right: 20px;
    background-image: url('../../../assets/icons/card-icon/numberBlockB.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 11% 70%;

    height: 100%;
    font-size: 25px;
    font-weight: bold;
    color: #2E2E2E;
    line-height: 1.2;
}

.card-subtitle {
    color: royalblue;
}