<div class="justify-content-center">
    <div>
        <mat-form-field appearance="outline" class="mat-form-field-class">
            <mat-label>IZLASH</mat-label>
            <input type="text"
                   placeholder="Avtolarni filtr qilish, izlash"
                   id="searchInput"
                   matInput #searchInput
                   (keyup)="applyFilter($event)"
            >
        </mat-form-field>
    </div>
    <div>
        <mat-paginator class="element-bg"
                [length]="recordsTotal"
                [pageSize]="10"
                [pageSizeOptions]="[8, 15, 25, 100]"
                (page)="onPageChange($event, searchInput.value)">
        </mat-paginator>
    </div>
</div>
<div class="card-grid car-list">
    <mat-card *ngFor="let item of data" class="card">
        <mat-card-header>
            <mat-card-title>
                <div class="numberImg">
                    <span class="numberImgRegion">{{ item.carNumber.substring(0, 2) }}</span>
                    <span class="numberImgNum">{{ item.carNumber.substring(2) }}</span>
                </div>
            </mat-card-title>
            <mat-card-subtitle class="card-subtitle">
                Akmalov Komil
            </mat-card-subtitle>
        </mat-card-header>
        <div class="png-bg" style="display: flex; justify-content: center;">
            <img mat-card-image style="width: 65%;" src="assets/icons/car-models/{{item.carModelCode}}.png" alt="Photo of a Shiba Inu">
        </div>
        <mat-card-content>
            <mat-chip-set aria-label="Fish selection" style="margin-bottom: 20px">
                <div>
                    <mat-chip style="width: 100%">
                        <mat-icon class="custom-chip">calendar_today</mat-icon>
                        <span style="margin-left: 5px">{{ item.carParams[0].insTime | date: 'medium'}}</span>
                    </mat-chip>
                    <mat-chip style="width: 100%;">
                        <mat-icon class="custom-chip">speed</mat-icon>
                        <span style="margin-left: 5px">{{ item.carParams[0].mileage +' - '+  item.carParams[0].mileage}} (km)</span>
                    </mat-chip>
                </div>
            </mat-chip-set>
        </mat-card-content>
        <mat-card-footer>
        </mat-card-footer>
    </mat-card>
    <div class="w-100"  *ngIf="data.length === 0" style="display: flex; justify-content: center;">
        <img src="assets/icons/card-icon/no-data.png" style="height: 25%"/>
        <h1>Ma'lumotlar topilmadi</h1>
    </div>
</div>


