<mat-toolbar  color="primary" class="mat-elevation-z8 position-fixed">
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{username}}</span>
    <span class="example-spacer"></span>

    <div style="width: 80px">
        <button mat-icon-button class="mr-5">
            <mat-icon matBadgeSize="small">message</mat-icon>
        </button>
    </div>
    <a (click)="logout()" mat-raised-button color="accent" class="ml-5">Chiqish</a>
</mat-toolbar>
<mat-drawer-container class="content-container" autosize>
    <mat-drawer #drawer opened="false" mode="side" position="start" class="sidenav-bg">
        <mat-nav-list>
            <mat-list-item class="text-lef w-100">
                <button
                    mat-flat-button [routerLink]="'/dashboard'"
                    [color]="isActive('/dashboard') ? 'primary' : ''"
                    [class]="{ 'active-link': isActive('/dashboard')}"
                >
                    <mat-icon>dashboard</mat-icon>
                    MUROJAATLAR OYNASI
                </button>
            </mat-list-item>
            <mat-divider class="m-d-p-5"></mat-divider>
            <mat-list-item class="text-lef w-100">
                <button
                    mat-flat-button [routerLink]="'/clients'"
                    [color]="isActive('/clients') ? 'primary' : ''"
                    [class]="{ 'active-link': isActive('/clients')}"
                >
                    <mat-icon>home</mat-icon>
                    USTAXONA MIJOZLARI
                </button>
            </mat-list-item>
            <mat-divider class="m-d-p-5"></mat-divider>
            <mat-list-item class="text-lef w-100">
                <button
                    mat-flat-button [routerLink]="'/statistics'"
                    [color]="isActive('/statistics') ? 'primary' : ''"
                    [class]="{ 'active-link': isActive('/statistics')}"
                >
                    <mat-icon>message</mat-icon>
                    YO'LLANGAN XABARLAR
                </button>
            </mat-list-item>
            <mat-divider class="m-d-p-5"></mat-divider>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content >
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
